.slideWapper > div > a {
  display: none !important;
}
.searchWrapper {
  padding: 0px 10px;
}
.searchWrapper :global(.DocSearch-Button) {
  border-radius: 10px;
  width: 100%;
}

.slidebarContainer > div {
  padding-top: 0;
  width: 100%;
}

.slidebarContainer {
  padding-right: 8px;
}
