.mysidebaritem {
  position: relative;
}
.mysidebaricon {
  position: absolute;
  top: 7px;
  left: 8px;
}
.mysidebaritem li {
  margin-top: 0.5rem;
}
.mysidebaritem li,
.mysidebaritem li :hover {
  background: none;
}
.mysidebaritem li a {
  padding-left: 32px;
  color: var(--ifm-navbar-link-color);
  border-radius: 0.5rem;
}
.mysidebaritem li a,
.mysidebaritem li a :hover {
  background-color: transparent;
}
.mysidebaritem li a:not(:global(.menu__link--sublist)) {
  background-color: transparent;
}
.mysidebaritem li a:global(.menu__link--active) {
  background-color: var(--menu-color-bg-active);
  color: var(--menu-color-active);
}

.mysidebaritem li a:global(.menu__link) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}
